*{
    font-family: "Lato", sans-serif !important;
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: #000000;
}
.color-custom{
    background-color: #3d3d3d;
}
h1{
    text-align: center;
    text-decoration: underline;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}
h2{
    color: #ffffff;
    padding-left: 1rem;
}
main{
    background-color: #000000;
}
.main-navegador{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}
.main-navegador a{
    background-color: #5555554f;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
    margin-top: 1rem;
}

.main-contenedores img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.main-contenedores h3{
    color: #ffffff;
}
.main-contenedores h4{
    color: #ffffff3d;
    text-decoration: line-through;
}
.main-contenedores h5{
    color: #ffffff;
}
.main-contenedores a{
    background-color: #009b08;
    color: #ffffff;
    padding: 0.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.main-contenedores{
    text-align: center;
    width: 20%;
    background-color: #9c9c9c3d;
    border-radius: 1rem;
}
.main-contenedores-completos{
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}
.banner-header img{
    width: 95%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.banner-header{
    display: flex;
    justify-content: center;
}
/* footer */
footer{
    background-color: #3d3d3d;
}
.footer-enlaces a{
    color: #ffffff;
    background-color: #00000065;
    padding: 0.5rem;
    border-radius: 1rem;
}
.footer-enlaces{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}
.footer-logos img{
    width: 2.5rem;
}
.footer-logos{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* Media queries */

@media (max-width: 768px){
    .main-navegador{
        gap: 1rem;
    }

    .main-navegador a,
    .main-navegador button {
        width: 90%;
        text-align: center;
    }

    .main-contenedores{
        width: 90%;
    }
    .main-contenedores-completos{
        gap: 1rem;
    }
    .footer-enlaces{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}