footer {
    background-color: #3d3d3d;
}

.footer-enlaces {
    @extend %flexcenter;
    gap: 5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;

    a {
        color: #ffffff;
        background-color: #00000065;
        padding: 0.5rem;
        border-radius: 1rem;
    }
}

.footer-logos {
    @extend %flexcenter;
    gap: 1.5rem;
    margin-top: 1rem;

    img {
        width: 2.5rem;
    }
}